.signup-form-input {
    display: flex;
    flex-direction: column;
}

.signup-form-input .signup-label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
    color: #333;
}

.signup-form-input .signup-input-area {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.signup-form-input .signup-input-area input {
    flex: 1;
    padding: 10px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    height: 25px;
    transition: border-color 0.2s;
}

.signup-form-input .signup-input-area input:focus {
    border-color: #007BFF;
}

.signup-form-input .signup-button {
    width: 140px;
    height: 45px;
    font-size: 13px;
    color: white;
    background-color: #62aeff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.signup-form-input .signup-button:hover {
    background-color: #0056b3;
}

.signup-form-input .signup-message {
    margin-top: 8px;
    font-size: 13px;
    color: rgb(0, 0, 0);
}

.signup-form-input .signup-message.error {
    color: red;
    font-weight: bold;
}
