/* 공통 스타일 */
#mypage-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 100px;
    margin: 0 auto;
    width: 100%;
}

#mypage-wrapper .mypage {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
    height: 100%;
}

#mypage-wrapper .mypage-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 60%;
}

/* 상단 영역 */
#mypage-wrapper .mypage-top {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    height: 50px;
}

#mypage-wrapper .mypage-top .mypage-nickname {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

#mypage-wrapper .mypage-top .mypage-tool {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}

/* 중간 영역 */
#mypage-wrapper .mypage-middle {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-grow: 1;
}

#mypage-wrapper .mypage-middle .mypage-profile {
    width: 200px;
    height: 200px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid black;
}

#mypage-wrapper .mypage-board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    height: 100%;
}

#mypage-wrapper .mypage-board .board-category {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}

#mypage-wrapper .mypage-board .board-category .board-category-count {
    display: flex;
    flex-direction: column;
    justify-items: center;
    text-align: center;
}


#mypage-wrapper .board-selector {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40px;
    margin-bottom: 15px;
}

#mypage-wrapper .board-selector .hidden {
    display: none;
  }

#mypage-wrapper .board-selector .review-board,
#mypage-wrapper .board-selector .recommend-board,
#mypage-wrapper .board-selector .attraction-gallery,
#mypage-wrapper .board-selector .food-gallery,
#mypage-wrapper .board-selector .mission-gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    cursor: pointer;
}
#mypage-wrapper .board-selector .review-board:hover,
#mypage-wrapper .board-selector .recommend-board:hover,
#mypage-wrapper .board-selector .attraction-gallery:hover,
#mypage-wrapper .board-selector .food-gallery:hover,
#mypage-wrapper .board-selector .mission-gallery:hover,
#mypage-wrapper .board-selector .review-board.active,
#mypage-wrapper .board-selector .recommend-board.active,
#mypage-wrapper .board-selector .attraction-gallery.active,
#mypage-wrapper .board-selector .food-gallery.active,
#mypage-wrapper .board-selector .mission-gallery.active
#mypage-wrapper .board-selector .review-board:hover,
#mypage-wrapper .board-selector .recommend-board:hover,
#mypage-wrapper .board-selector .attraction-gallery:hover,
#mypage-wrapper .board-selector .food-gallery:hover,
#mypage-wrapper .board-selector .mission-gallery:hover {
    background-color: #f0f8ff;
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    color: #007bff;
    border: 2px solid #007bff;
}

/* 갤러리 */
#mypage-wrapper .gallery-review,
#mypage-wrapper .gallery-recommend {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

#mypage-wrapper .gallery-review .gallery-item,
#mypage-wrapper .gallery-recommend .gallery-item {
    width: 100%;
    aspect-ratio: 1;
    overflow: hidden;
    position: relative;
}
#mypage-wrapper .gallery-item .button-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30%;
    z-index: 10; 
    display: flex;
    justify-content: center;
    align-items: center;


}

#mypage-wrapper .button-overlay:hover .item-buttons {
    display: flex;
}

#mypage-wrapper .item-buttons {
    width: 100%;
    display: none;
    position: absolute;
    top: 0px;
    right: 0px;
    gap: 5px;
    background-color: rgba(0, 0, 0, 0.6);

    border-radius: 5px;
    z-index: 20;
}

#mypage-wrapper .item-button {
    color: white;
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 14px;
}


#mypage-wrapper .gallery-review .gallery-item .gallery-image,
#mypage-wrapper .gallery-recommend .gallery-item .gallery-image,
#mypage-wrapper .gallery-recommend .gallery-item .gallery-item .gallery-image img{
    width: 100%;
    height: 100%;
    object-fit: contain; 
    border-radius: 20px; 
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15), 0 5px 15px rgba(0, 0, 0, 0.1); 
    background: linear-gradient(135deg, #c7d2d7, #9ca3af); 
    transition: all 0.3s ease; 
    position: relative; /* 이미지 자체에 상대적 위치 지정 */
}


#mypage-wrapper  .swiper,
#mypage-wrapper .swiper-slide,
#mypage-wrapper .swiper-wrapper
{
    width: 100%;
    height: 100%;
    object-fit: contain; 
    border-radius: 20px; 
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15), 0 5px 15px rgba(0, 0, 0, 0.1); 
    background: linear-gradient(135deg, #c7d2d7, #9ca3af); 
    transition: all 0.3s ease; 
    position: relative; /* 이미지 자체에 상대적 위치 지정 */
}



#mypage-wrapper .gallery-review .gallery-item .gallery-image:hover,
#mypage-wrapper .gallery-recommend .gallery-item .gallery-image:hover,
#mypage-wrapper .gallery-recommend .gallery-item .gallery-item .gallery-image:hover {
    transform: scale(1.05); 
    box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2), 0 10px 30px rgba(0, 0, 0, 0.15); 
    background: linear-gradient(135deg, #a1b3b8, #6f7b8b); 
}


#mypage-wrapper .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: opacity 0.3s ease;
}


/* 모달 콘텐츠 */
#mypage-wrapper .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transform: translateY(-50px);
    animation: modalEnter 0.3s forwards;
}
#mypage-wrapper .modal-content .modal-image{
    width: 100%;
    
}
#mypage-wrapper .modal-content .modal-writer{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

@keyframes modalEnter {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.roulette-record .modal-content h2 {
    margin-top: 0;
}

.roulette-record .modal-overlay:hover {
    cursor: pointer;
}

#mypage-wrapper .roulette-buttons {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

#mypage-wrapper .roulette-button {
    flex: 1;
    height: 50px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 0 10px;
    cursor: pointer;
    font-size: 20px;
    color: black;
}

#mypage-wrapper .roulette-button:hover {
    background-color: #ddd;
}

#mypage-wrapper .roulette-button.active {
    background-color: #434343;
    color: white;
    border-color: #434343;
}

#mypage-wrapper .recommend-post .loading-spinner {
    margin: 0 auto;
    font-size: 20px;
}

.roulette-record .roulette-title {
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}

.roulette-record .roulette-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.roulette-record .roulette-table th,
.roulette-record .roulette-table td {
    border-bottom: 1px solid #ddd;
    text-align: center;
    padding: 8px;    
    height: 55px;
}

.roulette-record .roulette-table th {
    background-color: #ccc;
    color: black;
}

.roulette-record .roulette-table td {
    border-left: none;
    border-right: none; 
}

.roulette-record .roulette-table th:first-child,
.roulette-record .roulette-table td:first-child {
    width: 50px; 
    font-size: 14px;
}

.roulette-record .roulette-table th:last-child,
.roulette-record .roulette-table td:last-child {
    width: 80px; 
}

.roulette-record .random-delete-icon {
    font-size: 25px;
    cursor: pointer;
}

.roulette-record .random-delete-icon:hover {
    color: red;
}

.roulette-record .roulette-table-bottom {
    margin-top: 20px;
    margin-bottom: 20px;
}

