.form-container {
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    max-height: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-area {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#input-box .input-box {
    min-height: 100px;
}

.input-area input {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
}


.label {
    display: block;
    height: 15px;
    font-weight: bold;
    
}

.message {
    margin-top: -30px;
    margin-bottom: 10px;
    font-size: 15px;
    color: black;
}

.message.error {
    margin-top: -30px;
    margin-bottom: 10px;
    font-size: 15px;
    color: red;
}


.input-area button {
    background-color: #84A264;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px 0px;
    margin-left: 10px;
    min-width: 105px;
    box-sizing: border-box;
}

.input-area button:hover {
    background-color: #406618;
}
