.recommend-update {
    font-family: Arial, sans-serif;
    padding: 20px;
    width: 1067px;
    margin: 0 auto;
}

.recommend-update .recommend-update-container {
    margin-top: 100px;
}

.recommend-update .box-container {
    position: relative;
    margin-bottom: 20px;
}

.recommend-update .box {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #aaa; 
    margin-bottom: 30px;
}

.recommend-update .field-label {
    font-size: 18px;
    color: #333;
    display: block;
    margin-bottom: 15px;
}

.recommend-update .remove-field-btn {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: #ff4d4d;
    color: white;
    border: none;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.recommend-update .remove-field-btn:hover {
    background-color: #e60000;
}

.recommend-update .field-content input,
.recommend-update .field-content textarea {
    padding: 13px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 1000px;
    font-size: 18px;
    margin-bottom: 25px;
}

.recommend-update .field-content input {
    height: 30px;
}

.recommend-update .field-content input:focus,
.recommend-update .field-content textarea:focus {
    background: #ffffff; 
    border: #000000;
    box-shadow: 0 0 5px rgba(26, 30, 32, 0.5); 
}

.recommend-update .address-container {
    display: flex;
    gap: 15px;
}

.recommend-update .address-container input {
    background-color: white;
}

.recommend-update .attraction-address {
    padding: 10px 20px;
    display: flex;
    text-align: center;
    align-items: center;
    cursor: pointer;
    background-color: #4ba9f7;
    width: 120px;
    height: 40px;
    color: white;
    border-radius: 8px;
}

.recommend-update .field-content textarea {
    resize: none;
    height: 150px;
}

.recommend-update .image-uploader {
    text-align: center;
    display: flex;
}

.upload-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    background-color: #f0f0f0;
    border-radius: 8px;
    cursor: pointer;
    color: #333;
    font-size: 50px;
    object-fit: cover;
    margin-top: 15px;
    transition: background-color 0.3s;
}

.upload-button:hover {
    background-color: #e0e0e0;
}

.recommend-update .image-previews {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
    gap: 5px;
    margin-right: 10px;
}

.recommend-update .preview {
    position: relative;
    margin: 5px;
}

.recommend-update .preview img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
}

.recommend-update .remove-image-btn {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: #ff4d4d;
    color: white;
    border: none;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
}

.recommend-update .remove-image-btn:hover {
    background-color: #e60000;
}

.recommend-update .button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    gap: 10px;
}

.recommend-update .submit-button,
.recommend-update .cancel-button {
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    align-items: center;
    font-size: 20px;
    width: 80px;
    height: 40px;
}

.recommend-update .submit-button {
    background-color: #4ba9f7 ;
    color: white;
}

.recommend-update .submit-button:hover {
    background-color: #4286bd;
}

.recommend-update .cancel-button {
    color: black;
    background-color: white;
    border: 1px solid #aaa; 
}

.recommend-update .cancel-button:hover {
    background-color: #ccc;
}

.recommend-update .add-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ccc;
    border-radius: 8px;
    height: 50px;
    color: white;
    font-size: 30px;
    cursor: pointer;
    margin: 0 auto;
}

.recommend-update .add-button:hover {
    background-color: black;
}