@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@font-face {
    font-family: 'Pretendard';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'InkLipquid';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/InkLipquid.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0px;
    font-family: 'Pretendard', sans-serif;
}

#main-wrapper {
    min-height: 100vh;

    display: flex;
    flex-direction: column;

    margin: 0 auto;
    background-image: url(/public/images/구름하늘.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
}

.main {
    display: flex;
    flex-direction: column;
    width: 1134px;
    height: 1200px;
    font-size: 90px;
    color: rgba(255, 255, 255, 1);
    text-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);

    align-items: center;
    justify-content: center;
    margin: 0 auto;

    gap: 20px;
}

.main-bottom {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}


.reels {
    display: flex;
    gap: 100px;
}


.reel {
    width: 250px;
    height: 300px;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
    border: 15px solid rgb(209, 229, 253);
    border-radius: 10px;
    position: relative;
    background: linear-gradient(to bottom,
    rgb(220, 240, 255),
            rgba(255, 255, 255, 1) 30%,
            rgba(255, 255, 255, 1) 70%,
            rgb(220, 240, 255)
        );
    box-shadow: 0 0 10px rgb(0, 0, 0);
}

.reel-numbers {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
}

.reel-item {
    font-size: 40px;
    color: rgba(0, 0, 0, 1);
    font-weight: bold;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    height: 300px;

    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background: rgb(255, 255, 255);
    color: rgb(89, 164, 249);
    border: none;
    width: 180px;
    height: 80px;
    padding: 12px 24px;
    font-size: 30px;
    font-weight: bold;
    border-radius: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    
    align-self: center;
}

button:hover {
    background: rgb(89, 164, 249);
    color: rgb(255, 255, 255);
    box-shadow: 0 0 50px rgb(255, 255, 255);
}

button:disabled {
    background: #555;
    cursor: not-allowed;
}

/* 애니메이션 */
.reel .reel-item {
    animation: spin 2s ease-out;
}

@keyframes spin {
    0% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(-100%);
    }

    50% {
        transform: translateY(-200%);
    }

    75% {
        transform: translateY(-300%);
    }

    100% {
        transform: translateY(0);
    }
}