body {
    margin: 0;
    font-family: 'Pretendard', sans-serif;
}

.hashtag-bar {
    position: absolute;
    right: 40px;      
    width: 250px;    
    transition: top 0.3s ease-out;
    background-color: white;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 100;
}

.hashtag-bar .hash-tag-title {
    font-size: 25px;
    font-weight: bold;
}

.hashtag-bar .hash-tag-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hashtag-bar .hash-tag {
    font-size: 20px;
    margin-bottom: 5px;
    color: #333;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.hashtag-bar .hash-tag:hover {
    background-color: #ccc;
}
